option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app

packages:
  yum:
    git: []

container_commands:
  01_install_pyenv:
    command: |
      curl https://pyenv.run | bash
      export PATH="/root/.pyenv/bin:$PATH"
      eval "$(pyenv init --path)"
      eval "$(pyenv init -)"
      eval "$(pyenv virtualenv-init -)"
      pyenv install 3.11.9
      pyenv virtualenv 3.11.9 myenv
  02_activate_virtualenv:
    command: |
      export PATH="/root/.pyenv/bin:$PATH"
      eval "$(pyenv init --path)"
      eval "$(pyenv init -)"
      eval "$(pyenv virtualenv-init -)"
      pyenv activate myenv
  03_install_requirements:
    command: |
      export PATH="/root/.pyenv/bin:$PATH"
      eval "$(pyenv init --path)"
      eval "$(pyenv init -)"
      eval "$(pyenv virtualenv-init -)"
      pyenv activate myenv
      pip install -r requirements.txt
  04_migrate:
    command: |
      export PATH="/root/.pyenv/bin:$PATH"
      eval "$(pyenv init --path)"
      eval "$(pyenv init -)"
      eval "$(pyenv virtualenv-init -)"
      pyenv activate myenv
      python manage.py migrate --noinput
    leader_only: true
  05_collectstatic:
    command: |
      export PATH="/root/.pyenv/bin:$PATH"
      eval "$(pyenv init --path)"
      eval "$(pyenv init -)"
      eval "$(pyenv virtualenv-init -)"
      pyenv activate myenv
      python manage.py collectstatic --noinput
    leader_only: true
